@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem; 
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

app-root, main {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #8B1E3F;
  margin: 1rem 0;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

h3 {
  margin-bottom: 0.5em;
  color: #222;
}

p, ul {
  margin-bottom: 1em;
}