@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Reset och grundinställningar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem; /* 16px standard */
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Layout */
app-root, main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #8B1E3F;
;
;
  margin-bottom: 0.5em;
}

/* Typografi */
h2, h3 {
  margin-bottom: 0.5em;
  color: #222;
}

p, ul {
  margin-bottom: 1em;
}